{% extends 'layouts/base.html' %}
{% load my_tags %}
{% load static %}

{% block extra_css %}
    <style>
        a:hover {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

{% endblock %}

{% block content %}
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Wishlist</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'pages:home' %}">Home</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }}
                                        of {{ page_obj.paginator.count }}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select onchange="addUrlParameter('sort', this.value)">
                                        <option value="">---</option>
                                        <option {% if request.GET.sort == 'price' %}selected{% endif %} value="price">
                                            Low To High
                                        </option>
                                        <option {% if request.GET.sort == '-price' %}selected{% endif %} value="-price">
                                            High To Low
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for i in products %}
                            <div class="col-lg-3 col-md-4 col-sm-4">

                                <div class="product__item {% if i.product.discount %}sale{% endif %}">
                                    <div class="product__item__pic set-bg" data-setbg="{{ i.product.image.url }}">
                                        {% if i.product.is_discount %}
                                            <span class="label">Sale</span>
                                        {% endif %}
                                        {% if i.product.is_new %}
                                            <span style="background-color: white; color: #111"
                                                  class="label {% if i.product.discount %}mt-4{% endif %}">New</span>
                                        {% endif %}
                                        <ul class="product__hover">
                                            <li>
                                                <a href="{% url 'products:update-wishlist' pk=i.product.pk %}?next={{ request.path }}">
                                                    {% if request.user.is_authenticated and i.product|in_wishlist:request.user %}
                                                        <img src="{% static 'img/icon/heartr.png' %}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'img/icon/heart.png' %}" alt="">
                                                    {% endif %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'products:detail' pk=i.product.pk %}">
                                                    <img src="{% static 'img/icon/search.png' %}" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{ i.product.title }}</h6>
                                        <a href="{% url 'products:update-cart' i.product.pk %}?next={{ request.path }}"
                                           class="add-cart">
                                            {% if i.product|in_cart:request %}
                                                - Remove From Cart
                                            {% else %}
                                                + Add To Cart
                                            {% endif %}
                                        </a>
                                        <div class="rating">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5>${{ i.product.real_price }}
                                            {% if i.product.is_discount %}
                                                <strike class="text-secondary">{{ i.product.price }}</strike>{% endif %}
                                        </h5>
                                        <div class="product__color__select">
                                            <label for="pc-4">
                                                <input type="radio" id="pc-4">
                                            </label>
                                            <label class="active black" for="pc-5">
                                                <input type="radio" id="pc-5">
                                            </label>
                                            <label class="grey" for="pc-6">
                                                <input type="radio" id="pc-6">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                {% for page in page_obj.paginator.page_range %}
                                    <a {% if page == page_obj.number %}class="active"{% endif %}
                                       href="?page={{ page }}">{{ page }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}